html,body {
	/* set a default font for the whole page */
	font-family: 'Nunito', sans-serif; 
	background-color: grey;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	
}

body {
	display: flex;
	flex-direction: column;
	overflow: hidden;

}

header {
	/* Make a top bar with a drop shadow, with horizontally-arranged items */
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}

h1, h2, h3 {
	margin: 0px;
	font-family: 'Baloo 2', cursive;
}

button.active {
  background-color: hsla(100, 50%, 90%, 1);
}

#canvas-holder {
  position: relative;
  margin:  0px auto;
	border:  2px solid white;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, .3);
}

#controls {
  overflow: scroll;
  bottom: 10px;
  background-color: white;
  border-radius: 10px;
  flex: 1;
  margin: 10px;
	border:  2px solid white;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, .3);
}

.row {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

#app {
  height: 100%;
  flex: 1;
  border: 1px solid cyan;
  box-sizing: border-box;
}

.error {
  padding: 1px 3px;
  display: inline-block;
  background-color: hsla(10,100%, 90%,.4);
     color: hsla(10,100%, 30%,1);

}

.panel  {
  border-radius: 10px;
  padding: 2px 4px;
  margin: 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);

  background: hsla(0, 0%, 90%, 100);
}

/*------------------------------------*/
/* CHAT WINDOW STYLING */

.chat {
  position: relative;
  height: 100%;
   border: 1px solid lime;
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
}

.chat-controls {
   border: 1px solid blue;
  
  height: 300px;
  
}

.chat-messages {
  flex: 1;
  box-sizing: border-box;
  overflow: scroll;
  border: 1px solid pink;
}

.chat-row {
  display: flex;
  
  box-sizing: border-box;
  overflow: scroll;
  flex-direction: row;
  border: 1px solid magenta;
  
  .exit-watcher {
    border: 1px solid black;
    maring: 2px
  }
}
.chat-bubble {
  padding: 2px 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
  background: white;
  border-radius: 10px;
  margin: 2px;
  text-align: right;
  display: inline-block;
}

.chatbubble.user {
  
  text-align: left;
  background: hsla(100, 100%, 90%, 1);
}





/*------------------------------------*/
/* DEBUG */

.bot-debug {
  border: 1px solid white;
}

.exit-watcher {
  position: relative;
  border: 1px solid black;
  margin: 2px;
  padding: 15px 0px 0px 0px;
}

.minicode {
  top: -5px;
  position: absolute;
  display: inline-block;
  font-size: 50%;
  background: hsla(0, 0%, 100%, .2);
  border: 1px solid hsla(0, 0%, 100%, .2);
    
}



.chip {
  background-color: white;
  padding: 1px 3px;
  margin: 2px;
  display: inline-block;
   border: 1px solid hsla(0, 0%, 100%, .2);
 border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
}